<div class="container mt-5">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button type="button" class="btn btn-dark">Home</button></a>
  <a routerLink="/line chart" routerLinkActive="active"><button type="button" class="btn btn-primary">Line Chart</button></a>
  <a routerLink="/bar chart" routerLinkActive="active"><button type="button" class="btn btn-secondary">Bar Chart</button></a>
  <a routerLink="/bubble chart" routerLinkActive="active"><button type="button" class="btn btn-success">Bubble Chart</button></a>
  <a routerLink="/pie chart" routerLinkActive="active"><button type="button" class="btn btn-danger">Pie Chart</button></a>
  <a routerLink="/radar chart" routerLinkActive="active"><button type="button" class="btn btn-warning">Radar Chart</button></a>
  <a routerLink="/doughnut chart" routerLinkActive="active"><button type="button" class="btn btn-info">Doughnut Chart</button></a>
</div>
